@model Cake_Store.Models.Account

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="breadcrumb__text">
                                <h2>Sign In</h2>
                            </div>
                            <p class="err">
                                @ViewBag.ErrorMessage
                            </p>
                            <form asp-controller="Accounts" asp-action="Signin" method="post">
                                <div class="form-group first">
                                    <label asp-for="Username">Username</label>
                                    <input asp-for="Username" type="text" class="form-control" id="username">

                                </div>
                                <div class="form-group first">
                                    <label asp-for="Password">Pasword</label>
                                    <input asp-for="Password" type="password" class="form-control" id="password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-3 mb-sm-0">
                                        <span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password ?</a></span>
                                </div>

                                <input type="submit" value="Log in" class="btn btn-pill text-white btn-block btn-primary" style="margin-bottom:4px">
                                <span style="padding:0px 71px"><a style="text-decoration:none" asp-controller="Home" asp-action="Signup"><i>If havent't account, you can click <u>Sign Up</u></i></a></span>
                                <span class="d-block text-center my-4 text-muted"> or LogIn with</span>

                                <div class="social-login text-center">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"><i class="fa fa-facebook-f"></i></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"><i class="fa fa-google"></i></span>
                                    </a>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/css/signup/style.css">
    <style>
        .err{
            font-style: italic;
            color: red;
        }
    </style>
}
@section js{
    <script src="~/js/popper.min.js"></script>
}